:root {
    
    /* Color - Brand */
    --color-primary: #be90d4;
    --color-secondary: #be90d4;

    --color-primary-hover: #8e6c9f;
    --color-primary-selected: rgba(190, 144, 212, .12);
    
    /* Dark Theme */
    --background-dark-theme: rgba(255, 255, 255, .1);
    --background-dark-theme-hover: rgba(255, 255, 255, .2);
}